<H1>About</H1>

<p>
  <%= link_to "One Month Rails", "http://onemonthrails.com"%> is a project to help <%= link_to "Brian Anderson", "http://brandrsn.com" %> learn <%= link_to "Ruby on Rails", "http://rubyonrails.org"%>. This is his sample application.
</p>