<div class="footer">
      <small>
        A <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> sample application by <%= link_to "Brian Anderson", "http://brandrsn.com" %>
      </small>
</div>